<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
    <p>
	    <label for="username">Username</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password">
	</p>
	{% if validator %}
		<h style="color: red; font-size: 2rem">This is required field</h>
	{% endif %}
	{% if data[0] %}
		<h style="color: red; font-size: 2rem"> Password is incorrect </h>
	{% endif %}
	{% if data[1] %}
		<h style="color: red; font-size: 2rem"> Account does not exist </h>
	{% endif %}
	<p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>